body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-top:50px;
    color: #666;
    background-color: #fff;
    }
.header-container{
    width: 100%;
    height: 300px;
    border-top:0;
    border-right:0;
    position: relative;
    background-color: #000;
}
.sub-page-title{
    width: 100%;
    height: 150px;
    border-top:0;
    border-right:0;
    position: relative;
    background-color: #000;
}
.border{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7f17ea+0,05abe0+100 */
    background: #7f17ea; /* Old browsers */
    background: -moz-linear-gradient(left,  #7f17ea 0%, #05abe0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #7f17ea 0%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #7f17ea 0%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f17ea', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 */
    height:1px;
}
.border-sm{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7f17ea+0,05abe0+100 */
    background: #7f17ea; /* Old browsers */
    background: -moz-linear-gradient(left,  #7f17ea 0%, #05abe0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #7f17ea 0%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #7f17ea 0%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f17ea', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 */
    height:1px;
    margin-bottom:30px;
}
.border-reverse{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#05abe0+0,7f17ea+100 */
    background: #05abe0; /* Old browsers */
    background: -moz-linear-gradient(left,  #05abe0 0%, #7f17ea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #05abe0 0%,#7f17ea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #05abe0 0%,#7f17ea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#7f17ea',GradientType=1 ); /* IE6-9 */
    height:3px;
    margin-bottom:60px;
}
.pad-top-20{
    padding-top:20px;
}
.border-right{
    border-right: 1px solid #ccc;
}


/*
lightgrey #D4E4F8
red #FF6861
dark gray #2B2E32
mid grey #41464c
*/


@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar{
    border-radius: 0px;
    margin-bottom:0;
/*    border-bottom:3px solid #7f17ea;*/
    background-color: #000;
}
.navbar-toggle .icon-bar {
    border: 1px solid #7f17ea;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-toggle{
    border: 1px solid #7f17ea;
}
.nav>li>a{
    color: #555;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .1em;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: #111;
    color: #ccc;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #eee;
    border-color: #337ab7;
    color: #111;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #7f17ea;
    color: #fff;
}

.navbar-brand img{
    height:100%;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.gif-container{
    background-image: url(../images/dark_mosaic.png);
    height:100%;
    width: 100%;
    position: relative;
}

.logo-container{
    position: absolute;
    height:90px;
    text-align: center;
    top:50%;
    left: 50%;
    margin: -85px 0 0 -179px;
}
.no-logo-container{
    position: absolute;
    text-align: center;
    top:50%;
    left: 50%;
    margin: -45px 0 0 -179px;
}
.logo-container img{
    height: 100%;
}

.header-container h4{
    position: relative;
    text-align: center;
    color: #333;
    padding-top:0px;
    padding:15px;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    letter-spacing: 1em;
}
.sub-page-title h4{
    position: relative;
    text-align: center;
    padding-top:0px;
    padding:15px;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    letter-spacing: 1em;
}
.sub-page{
    margin-top:60px;
}
.header-container h5{
    position: relative;
    text-align: center;
    color: #fff;
    padding-top:30px;
    padding-bottom:15px;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
}
.search-container{
    padding-top:10%;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #000;
    background-image: none;
    border: none;
    border-bottom: 1px solid #555;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn {
    padding: 6px 12px;
    border-radius: 0;
    background-color: #000;
    border: none;
    color: #7f17ea;
}


/*HOMEPAGE CONTENT*/
.has-header{
    padding-top:60px;
}
 p{
    line-height:2em;
}
.has-header{
    text-transform: none;
    color: #999;
}
.has-header h3{
    font-weight: 300;
    font-size: 24px;
    margin-bottom:30px;
}
.bg-gray{
    background-color: #ededed;
    height: 100%;
}
.icon{
    text-align: center;
    font-size:30px;
    padding:15px;
}
.col-md-4 > h5 {
    margin-bottom:30px;
}
.bg-light-gray{
    background-color: #efefef;
    padding:15px;
    min-height:200px;
}
.dj-parallax{
    height: 300px;
    background-image: url(../images/dj-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin:60px 0;
    padding-top:100px;
    background-repeat: no-repeat;
}

.divider{
    width: 3px;
    background-color: #fff;
    height:100%;
    float: left;
}
.signup{
 text-align: center;
}
.btn-dmp{
    background-color: transparent;
    border:3px solid #fff;
    padding:15px 30px;
    color: #fff;
}
.btn-dmp:hover{
    background-color: #ffffff;
    border:3px solid #fff;
    color: #232323;
}

/*
==========
RIGHT SIDE
==========
*/
.top-list{
    background-color: #191919;
    padding:20px;
}
h3.section-header{
 /*     background: -webkit-linear-gradient(#7F17EA, #05abe0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  font-size: 16px;
  text-transform: uppercase;
  color: #7f17ea;
  font-weight: 300;
    margin-top:60px;
}
table.chart{
    border: 1px solid #ccc;
}
table.chart td:first-child{
    text-align: right;
    padding: 10px;
}
table.chart td:last-child{
    text-align: left;
    padding: 10px;
}
.controls{
    margin:0;
}
.carousel-control{
    position: relative;
}
.carousel-control.right, .carousel-control.left{
    background: transparent;
    color: #05abe0;
    opacity:1;
    font-size: 35px;

}



.footer{
    background-color:#191919;
    margin-top:60px;
    color:#03a9f4;
    padding-bottom:60px;
}
ul.footer-links{
    list-style: none;
    padding:0;
    margin:0;
}
.copyright{
    color:#555;
    font-size: 10px;
    text-transform: uppercase;
}
.footer img{
    width:50px;
    margin-top:30px;
}
.footer-logo{
    margin-bottom:30px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    color: #7f17ea;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #7f17ea;
}
.well{
    background-color: #000;
    border: 0;
    padding:0;
    padding-top:20px;
}

.media-object{
    width:75px;
}
.media {
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #555;
    padding: 15px 0 30px 0;
}
.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 14px;
    color: #05abe0;
}
.media-left, .media>.pull-left {
    padding-right: 30px;
}




/*
PLAY ICON
*/

.play-btn{
    position: relative;
    height:50px;
    width: 50px;
}
.download-btn, .share-btn, .favorite-btn{
    padding:5px 10px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    transition: background-color 0.5s ease;
}
.download-btn{
    border: 2px solid #7f17ea;
    color: #7f17ea;
}
.share-btn{
    border: 2px solid #05abe0;
    color: #05abe0;
}
.favorite-btn{
    border: 2px solid #ea1753;
    color: #ea1753;
}


.download-btn:hover{
    background-color: #7f17ea;
    color: #fff;
}
.share-btn:hover{
    background-color: #05abe0;
    color: #fff;
}
.favorite-btn:hover{
    background-color: #ea1753;
    color: #fff;
}

table.home-table img{
    width:40px;
}
table h4{
    margin:0;
    font-size: 16px;
    text-transform: uppercase;
    color: #7f17ea;
    font-weight: 300;
}
 table h5{
    margin:0;
    font-size:12px;
 }

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
    }

.parallax{
    background-image: url(../images/dj-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding:50px;
    margin-top:50px;
}
.price{
    font-size: 2em;
    font-weight: 300;
}
sup {
    top: -.3em;
}
table.pricing{
    color: #111;
    background: #fff;
}
table.pricing tr td{
    padding: 20px 15px;
}
table.pricing tr td.left{
    text-align: right;
    width: 35%;

}
table.pricing tr td.right{
    text-align: left;
    padding-left: 0px;
}
table.pricing th {
    text-align: center;
    text-transform: uppercase;
    padding:20px !important;
    letter-spacing: .2em;
}
table.monthly{
    color: #7f17ea;
}

table.unlimited{
    color: #05abe0;
}
.table-footer-signup-monthly{
    background-color: #7f17ea;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
}
.table-footer-signup-monthly:hover{
    background-color: #8F34ED;
    letter-spacing: .5em;
}
.table-footer-signup-unlimited:hover{
    background-color: #23B1DF;
    letter-spacing: .5em;
}


.table-footer-signup-unlimited{
    background-color: #05abe0;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
}

ul.vertical-sub-menu, ul.vertical-sub-menu li{
    margin: 0;
    padding:0;
    list-style: none;
}
ul.vertical-sub-menu li a{
    display: block;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 15px 0;
     transition: all 0.5s ease;
     text-decoration: none;
}
ul.vertical-sub-menu li a:hover, ul.vertical-sub-menu li a:focus, ul.vertical-sub-menu li a.active{
    border-left: 10px solid #7f17ea;
    padding-left: 20px;
}
th {
    text-align: left;
    font-size: 10px;
    text-transform: uppercase;
}
.purple{
    color: #7f17ea;
}

.profile-pic img{
    width:100%;
}