body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-top:50px;
    color: #666;
    background-color: #000;
    }
.header-container{
    width: 100%;
    height: 450px;
    border-top:0;
    border-right:0;
    position: relative;
    background-color: #000;
}
.border{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7f17ea+0,05abe0+100 */
    background: #7f17ea; /* Old browsers */
    background: -moz-linear-gradient(left,  #7f17ea 0%, #05abe0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #7f17ea 0%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #7f17ea 0%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f17ea', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 */
    height:3px;
}
.border-sm{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7f17ea+0,05abe0+100 */
    background: #7f17ea; /* Old browsers */
    background: -moz-linear-gradient(left,  #7f17ea 0%, #05abe0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #7f17ea 0%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #7f17ea 0%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f17ea', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 */
    height:1px;
    margin-bottom:30px;
}
.border-reverse{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#05abe0+0,7f17ea+100 */
    background: #05abe0; /* Old browsers */
    background: -moz-linear-gradient(left,  #05abe0 0%, #7f17ea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #05abe0 0%,#7f17ea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #05abe0 0%,#7f17ea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#7f17ea',GradientType=1 ); /* IE6-9 */
    height:3px;
    margin-bottom:60px;
}
.pad-top-20{
    padding-top:20px;
}


/*
lightgrey #D4E4F8
red #FF6861
dark gray #2B2E32
mid grey #41464c
*/


@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar{
    border-radius: 0px;
    margin-bottom:0;
/*    border-bottom:3px solid #7f17ea;*/
    background-color: rgba(0,0,0,.85);
}
.navbar-brand img{
    height:100%;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.gif-container{
    background-image: url(../images/edm2.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    top:0;
    left: 0;
    height:100%;
    width: 100%;
    overflow: hidden;
    background-color: #222;
}

.logo-container{
    position: relative;
    height:150px;
    text-align: center;
    padding-top:60px;
}

.logo-container img{
    height: 100%;
}

.header-container h4{
    position: relative;
    text-align: center;
    color: #fff;
    padding-top:0px;
    padding-bottom:15px;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
}
.header-container h5{
    position: relative;
    text-align: center;
    color: #fff;
    padding-top:30px;
    padding-bottom:15px;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
}
.search-container{
    padding-top:10%;
}
.form-control{
    height:44px;
    padding: 6px 22px;
    border-radius: 0;
}
.btn {
    padding: 11px 12px;
    border-radius: 0;
}


/*HOMEPAGE CONTENT*/
.has-header{
    padding-top:60px;
}
 p{
    line-height:2em;
}
.has-header{
    text-transform: none;
    color: #999;
}
.has-header h3{
    font-weight: 300;
    font-size: 24px;
    margin-bottom:30px;
}
.bg-gray{
    background-color: #ededed;
    height: 100%;
}
.icon{
    text-align: center;
    font-size:30px;
    padding:15px;
}
.col-md-4 > h5 {
    margin-bottom:30px;
}
.bg-light-gray{
    background-color: #efefef;
    padding:15px;
    min-height:200px;
}
.dj-parallax{
    height: 300px;
    background-image: url(../images/dj-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin:60px 0;
    padding-top:100px;
    background-repeat: no-repeat;
}
.price{
    color: #fff;
    float: left;
}
.divider{
    width: 3px;
    background-color: #fff;
    height:100%;
    float: left;
}
.signup{
 text-align: center;
}
.btn-dmp{
    background-color: transparent;
    border:3px solid #fff;
    padding:15px 30px;
    color: #fff;
}
.btn-dmp:hover{
    background-color: #ffffff;
    border:3px solid #fff;
    color: #232323;
}

/*
==========
RIGHT SIDE
==========
*/
.top-list{
    background-color: #191919;
    padding:20px;
}
h3.section-header{
 /*     background: -webkit-linear-gradient(#7F17EA, #05abe0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  font-size: 16px;
  text-transform: uppercase;
  color: #ccc;
  font-weight: 100;

}
.controls{
    margin:0;
}
.carousel-control{
    position: relative;
}
.carousel-control.right, .carousel-control.left{
    background: transparent;
    color: #05abe0;
    opacity:1;
    font-size: 35px;

}



.footer{
    background-color:#191919;
    margin-top:60px;
    color:#03a9f4;
    padding-bottom:60px;
}
ul.footer-links{
    list-style: none;
    padding:0;
    margin:0;
}
.copyright{
    color:#555;
    font-size: 10px;
    text-transform: uppercase;
}
.footer img{
    width:50px;
    margin-top:30px;
}
.footer-logo{
    margin-bottom:30px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    color: #7f17ea;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #7f17ea;
}
.well{
    background-color: #000;
    border: 0;
    padding:0;
    padding-top:20px;
}

.media-object{
    width:75px;
}
.media {
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #555;
    padding: 15px 0 30px 0;
}
.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 14px;
    color: #05abe0;
}
.media-left, .media>.pull-left {
    padding-right: 30px;
}
